<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geekaca.mall.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.geekaca.mall.domain.Order">
        <id property="orderId" column="order_id" jdbcType="BIGINT"/>
        <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="totalPrice" column="total_price" jdbcType="INTEGER"/>
        <result property="payStatus" column="pay_status" jdbcType="TINYINT"/>
        <result property="payType" column="pay_type" jdbcType="TINYINT"/>
        <result property="payTime" column="pay_time" jdbcType="TIMESTAMP"/>
        <result property="orderStatus" column="order_status" jdbcType="TINYINT"/>
        <result property="extraInfo" column="extra_info" jdbcType="VARCHAR"/>
        <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="GoodsMap" type="com.geekaca.mall.controller.vo.GoodsDTO">
        <id column="cart_item_id" property="cartItemId" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="goods_id" property="goodsId" jdbcType="INTEGER"/>
        <result column="goods_count" property="goodsCount" jdbcType="INTEGER"/>
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR"/>
        <result column="goods_cover_img" property="goodsCoverImg" jdbcType="VARCHAR"/>
        <result column="selling_price" property="sellingPrice" jdbcType="INTEGER"/>
        <result column="goods_sell_status" property="goodsSellStatus" jdbcType="INTEGER"/>
    </resultMap>
    <resultMap id="OrderWithItems" type="com.geekaca.mall.controller.vo.OrderAndItemDTO">
        <id property="orderId" column="order_id" jdbcType="BIGINT"/>
        <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="totalPrice" column="total_price" jdbcType="INTEGER"/>
        <result property="payStatus" column="pay_status" jdbcType="TINYINT"/>
        <result property="payType" column="pay_type" jdbcType="TINYINT"/>
        <result property="payTime" column="pay_time" jdbcType="TIMESTAMP"/>
        <result property="orderStatus" column="order_status" jdbcType="TINYINT"/>
        <result property="extraInfo" column="extra_info" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <collection property="newBeeMallOrderItemVOS" ofType="com.geekaca.mall.domain.OrderItem">
            <id property="orderItemId" column="order_item_id" jdbcType="BIGINT"/>
            <result property="orderId" column="order_id" jdbcType="BIGINT"/>
            <result property="goodsId" column="goods_id" jdbcType="BIGINT"/>
            <result property="goodsName" column="goods_name" jdbcType="VARCHAR"/>
            <result property="goodsCoverImg" column="goods_cover_img" jdbcType="VARCHAR"/>
            <result property="sellingPrice" column="selling_price" jdbcType="INTEGER"/>
            <result property="goodsCount" column="goods_count" jdbcType="INTEGER"/>
        </collection>
    </resultMap>
    <sql id="Base_Column_List"> order_id
    ,order_no,user_id, total_price,pay_status,pay_type, pay_time,order_status,extra_info, is_deleted,create_time,update_time </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_newbee_mall_order where order_id = #{orderId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long"> delete
                                                                    from tb_newbee_mall_order
                                                                    where order_id = #{orderId,jdbcType=BIGINT} </delete>
    <insert id="insert" keyColumn="order_id" keyProperty="orderId" parameterType="com.geekaca.mall.domain.Order"
            useGeneratedKeys="true"> insert into tb_newbee_mall_order (order_no, user_id, total_price)
                                     values (#{orderNo,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT},
                                             #{totalPrice,jdbcType=INTEGER}) </insert>
    <insert id="insertSelective" keyColumn="order_id" keyProperty="orderId"
            parameterType="com.geekaca.mall.domain.Order" useGeneratedKeys="true">
        insert into tb_newbee_mall_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">order_id,</if>
            <if test="orderNo != null">order_no,</if>
            <if test="userId != null">user_id,</if>
            <if test="totalPrice != null">total_price,</if>
            <if test="payStatus != null">pay_status,</if>
            <if test="payType != null">pay_type,</if>
            <if test="payTime != null">pay_time,</if>
            <if test="orderStatus != null">order_status,</if>
            <if test="extraInfo != null">extra_info,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">#{orderId,jdbcType=BIGINT},</if>
            <if test="orderNo != null">#{orderNo,jdbcType=VARCHAR},</if>
            <if test="userId != null">#{userId,jdbcType=BIGINT},</if>
            <if test="totalPrice != null">#{totalPrice,jdbcType=INTEGER},</if>
            <if test="payStatus != null">#{payStatus,jdbcType=TINYINT},</if>
            <if test="payType != null">#{payType,jdbcType=TINYINT},</if>
            <if test="payTime != null">#{payTime,jdbcType=TIMESTAMP},</if>
            <if test="orderStatus != null">#{orderStatus,jdbcType=TINYINT},</if>
            <if test="extraInfo != null">#{extraInfo,jdbcType=VARCHAR},</if>
            <if test="isDeleted != null">#{isDeleted,jdbcType=TINYINT},</if>
            <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
            <if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.geekaca.mall.domain.Order">
        update tb_newbee_mall_order
        <set>
            <if test="orderNo != null">order_no = #{orderNo,jdbcType=VARCHAR},</if>
            <if test="userId != null">user_id = #{userId,jdbcType=BIGINT},</if>
            <if test="totalPrice != null">total_price = #{totalPrice,jdbcType=INTEGER},</if>
            <if test="payStatus != null">pay_status = #{payStatus,jdbcType=TINYINT},</if>
            <if test="payType != null">pay_type = #{payType,jdbcType=TINYINT},</if>
            <if test="payTime != null">pay_time = #{payTime,jdbcType=TIMESTAMP},</if>
            <if test="orderStatus != null">order_status = #{orderStatus,jdbcType=TINYINT},</if>
            <if test="extraInfo != null">extra_info = #{extraInfo,jdbcType=VARCHAR},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted,jdbcType=TINYINT},</if>
            <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
            <if test="updateTime != null">update_time = #{updateTime,jdbcType=TIMESTAMP},</if>
        </set>
        where order_id = #{orderId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.geekaca.mall.domain.Order">
        update tb_newbee_mall_order
        set order_no     = #{orderNo,jdbcType=VARCHAR},
            user_id      = #{userId,jdbcType=BIGINT},
            total_price  = #{totalPrice,jdbcType=INTEGER},
            pay_status   = #{payStatus,jdbcType=TINYINT},
            pay_type     = #{payType,jdbcType=TINYINT},
            pay_time     = #{payTime,jdbcType=TIMESTAMP},
            order_status = #{orderStatus,jdbcType=TINYINT},
            extra_info   = #{extraInfo,jdbcType=VARCHAR},
            is_deleted   = #{isDeleted,jdbcType=TINYINT},
            create_time  = #{createTime,jdbcType=TIMESTAMP},
            update_time  = #{updateTime,jdbcType=TIMESTAMP}
        where order_id = #{orderId,jdbcType=BIGINT}
    </update>
    <select id="selectGoodsListByUidAndItemIds" resultMap="GoodsMap">
        SELECT item.user_id, item.cart_item_id, item.goods_id, item.goods_count, ginfo.goods_name,
        ginfo.goods_cover_img, ginfo.selling_price, ginfo.goods_sell_status
        FROM tb_newbee_mall_shopping_cart_item item, tb_newbee_mall_goods_info ginfo
        WHERE item.goods_id = ginfo.goods_id AND item.user_id = #{uid} AND cart_item_id IN
        <foreach collection="cartItemIds" open="(" close=")" separator="," item="itemId">#{itemId}</foreach>
    </select>
    <update id="updateStatusByOrderNo">
        update tb_newbee_mall_order
        <set>
            <if test="payStatus != null">pay_status = #{payStatus,jdbcType=TINYINT},</if>
            <if test="payType != null">pay_type = #{payType,jdbcType=TINYINT},</if>
            <if test="payTime != null">pay_time = #{payTime,jdbcType=TIMESTAMP},</if>
            <if test="orderStatus != null">order_status = #{orderStatus,jdbcType=TINYINT},</if>
            <if test="extraInfo != null">extra_info = #{extraInfo,jdbcType=VARCHAR},</if>
            <if test="updateTime != null">update_time = #{updateTime,jdbcType=TIMESTAMP},</if>
        </set>
        where order_no = #{orderNo,jdbcType=VARCHAR}
    </update>
    <select id="selectByStatus" resultMap="OrderWithItems">
        SELECT torder.create_time, torder.order_id, torder.user_id, torder.total_price, torder.order_status,
        torder.order_no, torder.pay_type, item.order_item_id, item.goods_name, item.goods_cover_img, item.goods_count,
        item.selling_price
        FROM tb_newbee_mall_order torder, tb_newbee_mall_order_item item
        WHERE torder.order_id = item.order_id
        <if test="uid != null and uid != ''">AND user_id = #{uid}</if>
        <if test="orderStatus != null">and order_status = #{orderStatus}</if>
        ORDER BY create_time DESC limit #{pageNum}, #{pageSize}
    </select>
    <!--     根据uid和订单状态查询用户的订单数量 -->
    <select id="selectCountByStatus" resultType="java.lang.Integer">
        SELECT count(*) FROM tb_newbee_mall_order
        <where>
            <if test="uid != null and uid != ''">AND user_id = #{uid}</if>
            <if test="orderStatus != null">
                and order_status = #{orderStatus}
            </if>
        </where>
    </select>
    <select id="selectDetailByOrderId" resultMap="OrderWithItems">
        SELECT torder.create_time,
               torder.order_id,
               torder.user_id,
               torder.total_price,
               torder.order_status,
               torder.order_no,
               torder.pay_type,
               item.order_item_id,
               item.goods_id,
               item.goods_name,
               item.goods_cover_img,
               item.goods_count,
               item.selling_price
        FROM tb_newbee_mall_order torder,
             tb_newbee_mall_order_item item
        WHERE torder.order_id = item.order_id
          and torder.order_id = #{orderId}
    </select>
    <select id="selectDetailByOrderNo" resultMap="OrderWithItems">
        SELECT torder.create_time,
               torder.order_id,
               torder.user_id,
               torder.total_price,
               torder.order_status,
               torder.order_no,
               torder.pay_type,
               item.order_item_id,
               item.goods_id,
               item.goods_name,
               item.goods_cover_img,
               item.goods_count,
               item.selling_price
        FROM tb_newbee_mall_order torder,
             tb_newbee_mall_order_item item
        WHERE torder.order_id = item.order_id
          and torder.order_no = #{orderNo}
    </select>
    <update id="updateDoneByIds">
        update tb_newbee_mall_order
        set order_status = 2
        where order_id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <update id="updateCheckOutByIds">
        update tb_newbee_mall_order
        set order_status = 3
        where order_id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <update id="updateClosedByIds">
        update tb_newbee_mall_order
        set order_status = -3
        where order_id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <update id="updateCancelByOrderNo">
        update tb_newbee_mall_order
        set order_status = -1
        where order_no = #{orderNo}
    </update>
    <update id="updateFinishByOrderNo">
        update tb_newbee_mall_order
        set order_status = 4
        where order_no = #{orderNo}
    </update>
</mapper>