<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geekaca.mall.geekmall.mapper.MallShoppingCartItemMapper">

    <resultMap id="BaseResultMap" type="com.geekaca.mall.geekmall.domain.MallShoppingCartItem">
            <id property="cartItemId" column="cart_item_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="goodsId" column="goods_id" jdbcType="BIGINT"/>
            <result property="goodsCount" column="goods_count" jdbcType="INTEGER"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="CartInfoMap" type="com.geekaca.mall.geekmall.domain.CartInfoDTO">
        <id property="cartItemId" column="cart_item_id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="goodsId" column="goods_id" jdbcType="BIGINT"/>
        <result property="goodsCount" column="goods_count" jdbcType="INTEGER"/>
        <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>

        <result property="goodsName" column="goods_name" jdbcType="VARCHAR"/>
        <result property="sellingPrice" column="selling_price" jdbcType="DOUBLE"/>
        <result property="goodsCoverImg" column="goods_cover_img" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        cart_item_id,user_id,goods_id,
        goods_count,is_deleted,create_time,
        update_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tb_newbee_mall_shopping_cart_item
        where  cart_item_id = #{cartItemId,jdbcType=BIGINT} 
    </select>
    <select id="selectByUid" resultMap="CartInfoMap" parameterType="java.lang.Long">
        SELECT
            cart.*, ginfo.goods_name, ginfo.selling_price, ginfo.goods_cover_img
        FROM
            tb_newbee_mall_shopping_cart_item cart,
            tb_newbee_mall_goods_info ginfo
        WHERE
            cart.goods_id = ginfo.goods_id
          and
            cart.user_id= #{userId, jdbcType=BIGINT}
        and cart.is_deleted = 0;
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from tb_newbee_mall_shopping_cart_item
        where  cart_item_id = #{cartItemId,jdbcType=BIGINT} 
    </delete>
    <insert id="insert" keyColumn="cart_item_id" keyProperty="cartItemId" parameterType="com.geekaca.mall.geekmall.domain.MallShoppingCartItem" useGeneratedKeys="true">
        insert into tb_newbee_mall_shopping_cart_item
        ( cart_item_id,user_id,goods_id
        ,goods_count,is_deleted,create_time
        ,update_time)
        values (#{cartItemId,jdbcType=BIGINT},#{userId,jdbcType=BIGINT},#{goodsId,jdbcType=BIGINT}
        ,#{goodsCount,jdbcType=INTEGER},#{isDeleted,jdbcType=TINYINT},#{createTime,jdbcType=TIMESTAMP}
        ,#{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.geekaca.mall.geekmall.domain.MallShoppingCartItem">
        insert into tb_newbee_mall_shopping_cart_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cartItemId != null">
                cart_item_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="goodsId != null">
                goods_id,
            </if>
            <if test="goodsCount != null">
                goods_count,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cartItemId != null">
                #{cartItemId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="goodsId != null">
                #{goodsId,jdbcType=BIGINT},
            </if>
            <if test="goodsCount != null">
                #{goodsCount,jdbcType=INTEGER},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.geekaca.mall.geekmall.domain.MallShoppingCartItem">
        update tb_newbee_mall_shopping_cart_item
        <set>
                <if test="userId != null">
                    user_id = #{userId,jdbcType=BIGINT},
                </if>
                <if test="goodsId != null">
                    goods_id = #{goodsId,jdbcType=BIGINT},
                </if>
                <if test="goodsCount != null">
                    goods_count = #{goodsCount,jdbcType=INTEGER},
                </if>
                <if test="isDeleted != null">
                    is_deleted = #{isDeleted,jdbcType=TINYINT},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime,jdbcType=TIMESTAMP},
                </if>
        </set>
        where   cart_item_id = #{cartItemId,jdbcType=BIGINT} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.geekaca.mall.geekmall.domain.MallShoppingCartItem">
        update tb_newbee_mall_shopping_cart_item
        set 
            user_id =  #{userId,jdbcType=BIGINT},
            goods_id =  #{goodsId,jdbcType=BIGINT},
            goods_count =  #{goodsCount,jdbcType=INTEGER},
            is_deleted =  #{isDeleted,jdbcType=TINYINT},
            create_time =  #{createTime,jdbcType=TIMESTAMP},
            update_time =  #{updateTime,jdbcType=TIMESTAMP}
        where   cart_item_id = #{cartItemId,jdbcType=BIGINT} 
    </update>

    <update id="deleteBatch">
        update tb_newbee_mall_shopping_cart_item
        set is_deleted=1 where cart_item_id in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <select id="selectByUserIdAndGoodsId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_newbee_mall_shopping_cart_item
        where user_id = #{newBeeMallUserId,jdbcType=BIGINT} and goods_id=#{goodsId,jdbcType=BIGINT} and is_deleted = 0
        limit 1
    </select>

    <select id="selectCountByUserId" resultType="int">
        select
            count(*)
        from tb_newbee_mall_shopping_cart_item
        where user_id = #{newBeeMallUserId,jdbcType=BIGINT} and is_deleted = 0
    </select>
    <select id="findMyMallCartItems" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_newbee_mall_shopping_cart_item
        where user_id = #{userId,jdbcType=BIGINT} and is_deleted = 0
        <if test="start!=null and limit!=null">
            limit #{start},#{limit}
        </if>
    </select>
    <select id="getTotalMallCartItems" resultType="int">
        select
            count(*)
        from tb_newbee_mall_shopping_cart_item
        where user_id = #{userId,jdbcType=BIGINT} and is_deleted = 0
    </select>
    <select id="selectByUserIdAndCartItemIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_newbee_mall_shopping_cart_item
        where
        cart_item_id in
        <foreach item="id" collection="cartItemIds" open="(" separator="," close=")">
            #{id}
        </foreach>
        and user_id = #{newBeeMallUserId,jdbcType=BIGINT} and is_deleted = 0
    </select>
</mapper>
