<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geekaca.mall.geekmall.mapper.MallGoodsInfoMapper">

    <resultMap id="BaseResultMap" type="com.geekaca.mall.geekmall.domain.MallGoodsInfo">
        <id property="goodsId" column="goods_id" jdbcType="BIGINT"/>
        <result property="goodsName" column="goods_name" jdbcType="VARCHAR"/>
        <result property="goodsIntro" column="goods_intro" jdbcType="VARCHAR"/>
        <result property="goodsCategoryId" column="goods_category_id" jdbcType="BIGINT"/>
        <result property="goodsCoverImg" column="goods_cover_img" jdbcType="VARCHAR"/>
        <result property="goodsCarousel" column="goods_carousel" jdbcType="VARCHAR"/>
        <result property="goodsDetailContent" column="goods_detail_content" jdbcType="VARCHAR"/>
        <result property="originalPrice" column="original_price" jdbcType="INTEGER"/>
        <result property="sellingPrice" column="selling_price" jdbcType="INTEGER"/>
        <result property="stockNum" column="stock_num" jdbcType="OTHER"/>
        <result property="tag" column="tag" jdbcType="VARCHAR"/>
        <result property="goodsSellStatus" column="goods_sell_status" jdbcType="TINYINT"/>
        <result property="createUser" column="create_user" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateUser" column="update_user" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!--    goods_id, selling_price, goods_cover_img, config_name -->
    <resultMap id="NewGoodsMap" type="com.geekaca.mall.geekmall.controller.vo.NewGoodsVO">
        <id property="goodsId" column="goods_id" jdbcType="BIGINT"/>
        <result property="sellingPrice" column="selling_price" jdbcType="INTEGER"/>
        <result property="goodsCoverImg" column="goods_cover_img" jdbcType="VARCHAR"/>
        <result property="configName" column="config_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        goods_id
        ,goods_name,goods_intro,
        goods_category_id,goods_cover_img,goods_carousel,
        goods_detail_content,original_price,selling_price,
        stock_num,tag,goods_sell_status,
        create_user,create_time,update_user,
        update_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_newbee_mall_goods_info
        where goods_id = #{goodsId,jdbcType=BIGINT}
    </select>
    <select id="selectByPrimaryKeys" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_newbee_mall_goods_info
        where goods_id in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
        order by field(goods_id,
        <foreach item="id" collection="list" separator=",">
            #{id}
        </foreach>
        );
    </select>
    <!--    查询新品上线-->
    <select id="selectNewGoodsList" resultMap="NewGoodsMap">
        SELECT ginfo.goods_id,
               ginfo.selling_price,
               ginfo.goods_cover_img,
               idxCfg.config_name
        FROM tb_newbee_mall_index_config idxCfg, -- 配置表
             tb_newbee_mall_goods_info ginfo     -- 商品表
        WHERE idxCfg.goods_id = ginfo.goods_id
          and idxCfg.config_type = 4 -- 代表 新品上线

    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from tb_newbee_mall_goods_info
        where goods_id = #{goodsId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="goods_id" keyProperty="goodsId"
            parameterType="com.geekaca.mall.geekmall.domain.MallGoodsInfo" useGeneratedKeys="true">
        insert into tb_newbee_mall_goods_info
        ( goods_id, goods_name, goods_intro
        , goods_category_id, goods_cover_img, goods_carousel
        , goods_detail_content, original_price, selling_price
        , stock_num, tag, goods_sell_status
        , create_user, create_time, update_user
        , update_time)
        values ( #{goodsId,jdbcType=BIGINT}, #{goodsName,jdbcType=VARCHAR}, #{goodsIntro,jdbcType=VARCHAR}
               , #{goodsCategoryId,jdbcType=BIGINT}, #{goodsCoverImg,jdbcType=VARCHAR}
               , #{goodsCarousel,jdbcType=VARCHAR}
               , #{goodsDetailContent,jdbcType=VARCHAR}, #{originalPrice,jdbcType=INTEGER}
               , #{sellingPrice,jdbcType=INTEGER}
               , #{stockNum,jdbcType=OTHER}, #{tag,jdbcType=VARCHAR}, #{goodsSellStatus,jdbcType=TINYINT}
               , #{createUser,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=INTEGER}
               , #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="goods_id" keyProperty="goodsId"
            parameterType="com.geekaca.mall.geekmall.domain.MallGoodsInfo" useGeneratedKeys="true">
        insert into tb_newbee_mall_goods_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodsId != null">goods_id,</if>
            <if test="goodsName != null">goods_name,</if>
            <if test="goodsIntro != null">goods_intro,</if>
            <if test="goodsCategoryId != null">goods_category_id,</if>
            <if test="goodsCoverImg != null">goods_cover_img,</if>
            <if test="goodsCarousel != null">goods_carousel,</if>
            <if test="goodsDetailContent != null">goods_detail_content,</if>
            <if test="originalPrice != null">original_price,</if>
            <if test="sellingPrice != null">selling_price,</if>
            <if test="stockNum != null">stock_num,</if>
            <if test="tag != null">tag,</if>
            <if test="goodsSellStatus != null">goods_sell_status,</if>
            <if test="createUser != null">create_user,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="goodsId != null">#{goodsId,jdbcType=BIGINT},</if>
            <if test="goodsName != null">#{goodsName,jdbcType=VARCHAR},</if>
            <if test="goodsIntro != null">#{goodsIntro,jdbcType=VARCHAR},</if>
            <if test="goodsCategoryId != null">#{goodsCategoryId,jdbcType=BIGINT},</if>
            <if test="goodsCoverImg != null">#{goodsCoverImg,jdbcType=VARCHAR},</if>
            <if test="goodsCarousel != null">#{goodsCarousel,jdbcType=VARCHAR},</if>
            <if test="goodsDetailContent != null">#{goodsDetailContent,jdbcType=VARCHAR},</if>
            <if test="originalPrice != null">#{originalPrice,jdbcType=INTEGER},</if>
            <if test="sellingPrice != null">#{sellingPrice,jdbcType=INTEGER},</if>
            <if test="stockNum != null">#{stockNum,jdbcType=OTHER},</if>
            <if test="tag != null">#{tag,jdbcType=VARCHAR},</if>
            <if test="goodsSellStatus != null">#{goodsSellStatus,jdbcType=TINYINT},</if>
            <if test="createUser != null">#{createUser,jdbcType=INTEGER},</if>
            <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
            <if test="updateUser != null">#{updateUser,jdbcType=INTEGER},</if>
            <if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.geekaca.mall.geekmall.domain.MallGoodsInfo">
        update tb_newbee_mall_goods_info
        <set>
            <if test="goodsName != null">
                goods_name = #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="goodsIntro != null">
                goods_intro = #{goodsIntro,jdbcType=VARCHAR},
            </if>
            <if test="goodsCategoryId != null">
                goods_category_id = #{goodsCategoryId,jdbcType=BIGINT},
            </if>
            <if test="goodsCoverImg != null">
                goods_cover_img = #{goodsCoverImg,jdbcType=VARCHAR},
            </if>
            <if test="goodsCarousel != null">
                goods_carousel = #{goodsCarousel,jdbcType=VARCHAR},
            </if>
            <if test="goodsDetailContent != null">
                goods_detail_content = #{goodsDetailContent,jdbcType=VARCHAR},
            </if>
            <if test="originalPrice != null">
                original_price = #{originalPrice,jdbcType=INTEGER},
            </if>
            <if test="sellingPrice != null">
                selling_price = #{sellingPrice,jdbcType=INTEGER},
            </if>
            <if test="stockNum != null">
                stock_num = #{stockNum,jdbcType=OTHER},
            </if>
            <if test="tag != null">
                tag = #{tag,jdbcType=VARCHAR},
            </if>
            <if test="goodsSellStatus != null">
                goods_sell_status = #{goodsSellStatus,jdbcType=TINYINT},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where goods_id = #{goodsId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.geekaca.mall.geekmall.domain.MallGoodsInfo">
        update tb_newbee_mall_goods_info
        set goods_name           = #{goodsName,jdbcType=VARCHAR},
            goods_intro          = #{goodsIntro,jdbcType=VARCHAR},
            goods_category_id    = #{goodsCategoryId,jdbcType=BIGINT},
            goods_cover_img      = #{goodsCoverImg,jdbcType=VARCHAR},
            goods_carousel       = #{goodsCarousel,jdbcType=VARCHAR},
            goods_detail_content = #{goodsDetailContent,jdbcType=VARCHAR},
            original_price       = #{originalPrice,jdbcType=INTEGER},
            selling_price        = #{sellingPrice,jdbcType=INTEGER},
            stock_num            = #{stockNum,jdbcType=OTHER},
            tag                  = #{tag,jdbcType=VARCHAR},
            goods_sell_status    = #{goodsSellStatus,jdbcType=TINYINT},
            create_user          = #{createUser,jdbcType=INTEGER},
            create_time          = #{createTime,jdbcType=TIMESTAMP},
            update_user          = #{updateUser,jdbcType=INTEGER},
            update_time          = #{updateTime,jdbcType=TIMESTAMP}
        where goods_id = #{goodsId,jdbcType=BIGINT}
    </update>

    <update id="recoverStockNum">
        <foreach collection="stockNumDTOS" item="stockNumDTO">
            update tb_newbee_mall_goods_info set stock_num = stock_num+#{stockNumDTO.goodsCount}
            where goods_id = #{stockNumDTO.goodsId} and stock_num>=#{stockNumDTO.goodsCount} and goods_sell_status = 0;
        </foreach>
    </update>

    <update id="updateStockNum">
        <foreach collection="stockNumDTOS" item="stockNumDTO">
            update tb_newbee_mall_goods_info set stock_num = stock_num-#{stockNumDTO.goodsCount}
            where goods_id = #{stockNumDTO.goodsId} and stock_num>=#{stockNumDTO.goodsCount} and goods_sell_status = 0;
        </foreach>
    </update>


    <!--    查询所有-->
    <select id="selectAll" resultMap="BaseResultMap">
        select *
        from tb_newbee_mall_goods_info
    </select>


    <!--    分页查询所有  ，todo: 增加 商品名字参数的动态连接 ，有商品名字参数，我就使用，没有就不使用-->
    <select id="selectAllByPage" resultMap="BaseResultMap">
        SELECT *
        FROM mall_db_v2.tb_newbee_mall_goods_info
        <where>
            <if test="goodsName!=null and goodsName!=''">
                and goods_name like CONCAT('%',#{goodsName},'%')
            </if>
            <if test="goodsSellStatus!=null and goodsSellStatus!=''">
                and goods_sell_status = #{goodsSellStatus}
            </if>
        </where>
        order by goods_id desc
        limit #{startIndex}, #{pageRecord}
    </select>
    <!--查询符合条件商品的总记录条数-->
    <select id="selectAllRecord" resultType="int">
        SELECT count(*)
        FROM mall_db_v2.tb_newbee_mall_goods_info
        <where>
            <if test="goodsName!=null and goodsName!=''">
                and goods_name like CONCAT('%',#{goodsName},'%')
            </if>
            <if test="goodsSellStatus!=null and goodsSellStatus!=''">
                and goods_sell_status = #{goodsSellStatus}
            </if>
        </where>
    </select>
    <select id="selectHotGoodsesList" resultMap="NewGoodsMap">
        SELECT ginfo.goods_id,
               ginfo.selling_price,
               ginfo.goods_cover_img,
               idxCfg.config_name
        FROM tb_newbee_mall_index_config idxCfg, -- 配置表
             tb_newbee_mall_goods_info ginfo     -- 商品表
        WHERE idxCfg.goods_id = ginfo.goods_id
          and idxCfg.config_type = 3 -- 代表 热销商品

    </select>
    <select id="selectRecommendGoodsesList"
            resultMap="NewGoodsMap">
        SELECT ginfo.goods_id,
               ginfo.selling_price,
               ginfo.goods_cover_img,
               idxCfg.config_name
        FROM tb_newbee_mall_index_config idxCfg, -- 配置表
             tb_newbee_mall_goods_info ginfo     -- 商品表
        WHERE idxCfg.goods_id = ginfo.goods_id
          and idxCfg.config_type = 5 -- 代表 推荐商品
    </select>

    <!--修改商品信息-->
    <update id="updateGeekMallGoods" parameterType="com.geekaca.mall.geekmall.domain.MallGoodsInfo">
        update tb_newbee_mall_goods_info
        <set>
            <if test="goodsName != null">
                goods_name = #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="goodsIntro != null">
                goods_intro = #{goodsIntro,jdbcType=VARCHAR},
            </if>
            <if test="goodsCategoryId != null">
                goods_category_id = #{goodsCategoryId,jdbcType=BIGINT},
            </if>
            <if test="goodsCoverImg != null">
                goods_cover_img = #{goodsCoverImg,jdbcType=VARCHAR},
            </if>
            <if test="goodsCarousel != null">
                goods_carousel = #{goodsCarousel,jdbcType=VARCHAR},
            </if>
            <if test="originalPrice != null">
                original_price = #{originalPrice,jdbcType=INTEGER},
            </if>
            <if test="sellingPrice != null">
                selling_price = #{sellingPrice,jdbcType=INTEGER},
            </if>
            <if test="stockNum != null">
                stock_num = #{stockNum,jdbcType=INTEGER},
            </if>
            <if test="tag != null">
                tag = #{tag,jdbcType=VARCHAR},
            </if>
            <if test="goodsSellStatus != null">
                goods_sell_status = #{goodsSellStatus,jdbcType=TINYINT},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="goodsDetailContent != null">
                goods_detail_content = #{goodsDetailContent,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where goods_id = #{goodsId,jdbcType=BIGINT}
    </update>

    <!--根据id查找单一商品信息-->
    <select id="getGeekMallGoodsById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_newbee_mall_goods_info
        where goods_id = #{goodsId,jdbcType=BIGINT}
    </select>

    <!--    根据商品分类id和名称查找商品-->
    <select id="selectByCategoryIdAndName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_newbee_mall_goods_info
        where goods_name = #{goodsName,jdbcType=VARCHAR} and goods_category_id = #{goodsCategoryId,jdbcType=BIGINT}
    </select>


    <update id="batchUpdateSellStatus">
        update tb_newbee_mall_goods_info
        set goods_sell_status=#{sellStatus},update_time=now() where goods_id in
        <foreach item="id" collection="orderIds" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <!--    前台根据关键字和分类id进行模糊搜索-->
    <select id="selectFrontAllByPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_newbee_mall_goods_info
        <where>
            <if test="keyword!=null and keyword!=''">
                and goods_name like CONCAT('%',#{keyword},'%')
            </if>
            <if test="goodsCategoryId!=null and goodsCategoryId!=''">
                and goods_category_id = #{goodsCategoryId}
            </if>
        </where>
        order by #{orderBy} desc
        limit #{startIndex}, #{pageRecord}
    </select>
    <!--    前端模糊查询返回总记录条数-->
    <select id="selectFrontAllRecord" resultType="java.lang.Integer">
        SELECT count(*)
        FROM mall_db_v2.tb_newbee_mall_goods_info
        <where>
            <if test="keyword!=null and keyword!=''">
                and goods_name like CONCAT('%',#{keyword},'%')
            </if>
            <if test="goodsCategoryId!=null and goodsCategoryId!=''">
                and goods_category_id = #{goodsCategoryId}
            </if>
        </where>
    </select>


</mapper>
